.inputs-group {
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.sync-val-example {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;

  .sync-val-input {
    width: 100%;
    max-width: 400px;
  }

  .sync-val {
    margin-left: 0;
    color: var(--cps-text-primary);
  }
}
