.cps-tooltip {
  position: absolute;
  top: 0;
  cursor: default;
  font-size: 14px;
  background: var(--cps-popover-background);
  color: var(--cps-popover-foreground);
  font-family: 'Source Sans Pro', sans-serif;
  border: 1px solid var(--cps-border-color);
  overflow-wrap: break-word;
  border-radius: var(--cps-radius-sm);
  padding: 3px;
  transition: opacity 0.2s;
  opacity: 0;
  z-index: 2000;
}
